@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @ViewBag.UserName!</h1>
    <p>This is the Music Events application where you can manage your music events. You can create, edit, and delete events. Use the navigation bar to access different sections of the application.</p>
</div>
